*{
    color: white;
}
.body{
    background-color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.nav_list {
    display: flex;
    list-style: none;
    margin-right: 200px;
}
.nav_list>li {
    margin-right: 70px
}
.portfolio {
    margin-left: 200px;
}
.content {
    display: flex;
    justify-content:space-evenly;
    margin-top: 200px;
    margin-bottom: 200px;
}
span {
    color: red;
}
a.navv {
    text-decoration: none;
    font-size: 19px;
    color: white;
    font-weight: 500;
}
a.navv:hover{
    color: rgb(137, 248, 1);
}
.image{
    margin-top: -122px;
}
img {
    height: 550px;
}
.about {
    width: 550px;
}